a {
    text-decoration: none;
}

.main-div {
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.top-films {
    width: 100%;
    height: 582px;
    display: flex;
}

.films-slide-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.films-slide-menu > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 10%;
    box-shadow: 5px 0px 5px #302f2d;
    transition: flex 100ms linear;
    cursor: pointer;
}

.films-slide-menu > div:active {
    flex: 1 1 50%;
}

.hidden-film-slide {
    height: 100%;
    width: 100%;
    background-size: auto 582px;
}

.shown-film-slide {
    display: none;
    height: 100%;
    width: 100%;
    background: linear-gradient(#d6d6d6, #ffffff);
}

.news {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    box-shadow: -3px -2px 8px #302f2d;
    background: linear-gradient(#232158, #101029);
}

.back-button-container {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    font-family: 'Lobster';
    color: #d6d6d6;
    margin: 30px 0 0 65px;
}

.back-button-container > p {
    margin-left: 5px;
}

.back-button-container:hover {
    color: #d9c44e;
    cursor: pointer;
}

.news-tape-preview {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 63px 0 60px 0px;
    justify-content: center;
    align-items: center;
    border: 2px outset rgba(90, 90, 90, 0.35);
    background-color: rgba(90, 90, 90, 0.35);
    color: #d6d6d6;
}

.news-tape-preview > h2 {
    margin-bottom: 0;
    font-family: 'Lobster';
    font-size: 40px
}

.news-tape-preview:hover {
    border-bottom: 2px outset rgba(10, 10, 10, 0.80);
    background: linear-gradient(#f5dd5d, #312814);
    cursor: pointer;
    text-shadow: -3px 3px 2px #302F2D;
    color: #ffffff;
}

.news-previews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news-tape {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px 0 60px 0;
}

.article {
    width: 18%;
    margin: 0 60px 60px 60px;
    border: 2px outset rgba(90, 90, 90, 0.35);
    background-color: rgba(90, 90, 90, 0.35);
}

.article > a {
    display: flex;
    flex-direction: row;
}

.article > a > img {
    height: 250px;
    margin-right: 10px;
    border-right: 2px inset rgba(90, 90, 90, 0.35);
}

.article > a > p {
    text-decoration: none;
    color: #d6d6d6;
    font-family: 'Lobster';
    letter-spacing: 0.04em;
    padding: 5px;
}
