a {
    text-decoration: none;
}

.main-div {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.top-films {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(background.jpg);
}

.top-films > h1 {
    text-align: center;
    margin: 20px 0 30px 0;
    color: #d6d6d6;
    font-family: 'Lobster';
    font-size: 50px;
    text-shadow: -1px 1px 0 #302f2d;

}

.top-films > a {
    width: 175px;
    padding: 10px;
    margin-top: 10px;
    align-self: flex-end;
    color: #d6d6d6;
    font-family: 'Lobster';
    text-shadow: -1px 1px 0 #302f2d;
    font-size: 25px;
    font-weight: bold;
}

.top-films > a:hover {
    color: #d9c44e;
}

.films-slide-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.films-slide-menu > a > img {
    align-items: center;
    margin-right: 10px;
    height: 400px;
    border: 2px outset #acacac;
    box-shadow: -3px 3px 3px #302F2D;
}

.slide-button {
    align-self: center;
    height: 75px;
    width: 75px;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
}

.slide-button-icon:active {
    color: #d9c44e;
    border: 3px inset #d9c44e;
    /*to add amination*/
}

.search-and-news {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: -3px -2px 8px #302f2d;
}

.search-and-news > button {
    width: 50px;
    height: 250px;
    margin-top: 300px;
    outline: none;
    background: #7e7e7e;
    border: 2px outset #acacac;
}

.search-and-news > button:active {
    border: 2px inset #acacac;
}

.search-and-news > button:active .search {
    display: flex;
}

.search-and-news > button > p {
    transform: rotate(270deg);
    color: #ffffff;
    font-size: 28px;
    margin-top: 80px;
    text-shadow: -1px 1px 0 #302f2d;
}

.search-and-news > button:active > p {
    margin-top: 85px;
    margin-left: 3px

}

.search {
    flex-direction: column;
    margin-top: 155px;
    padding: 20px;
    width: 20%;
    height: 500px;
    border: 3px outset #acacac;
    align-items: center;
}

.search > h2 {
    color: #FFFFFF;
    padding-bottom: 10px;
    text-shadow: -1px 1px 0 #302f2d;
}

.free-search {
    display: flex;
    flex-direction: row;
    align-self: start;
}

.free-search > input {
    background: transparent;
    color: #ffffff;
    outline: none;
    border: 2px outset #ffffff;
}

.free-search > button {
    background: transparent;
    border: none;
    border: none;
    margin-left: 2px;
    border: 2px outset #ffffff;
    outline: none;
}

.free-search > button:hover {
    cursor: pointer;

}

.free-search > button:active {
    margin: 0;
    border: 2px inset #ffffff;
}

.free-search > button > img {
    width: 20px;
    height: 20px;
    align-self: center;
    vertical-align: middle;
}

.one-click-search {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.one-click-search > hr {
    width: 1px;
    height: 300px;
    margin: 0 20px 0 20px;
    border: none;
    background: radial-gradient(#acacac, #ffffff);
}

.one-click-search > div {
    display: flex;
    flex-direction: column;
}

.one-click-search > div > h3 {
    color: #ffffff;
    margin: 10px 0 10px 0;
}

.one-click-search > div > a {
    padding-bottom: 5px;
    color: #FFFFFF;
}

.one-click-search > div > a:hover {
    color: #f5dd5d;
}

.news {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
}

.news > a {
    width: auto;
    height: auto;
    align-self: center;
}

.news > a:hover {
    cursor: pointer;
}

.news > a > h2 {
    align-self: center;
    color: #ffffff;
    padding-bottom: 10px;
}

.news > a:hover > h2 {
    color: #f5dd5d;
}

.news > div {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.article {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 600px;
    border: 3px outset #acacac;
    margin: 0 50px 50px 50px;
}

.article > img {
    align-self: center;
    height: 400px;
    margin-right: 20px;
    border-right: 3px inset #acacac;
}

.article > p {
    color: #ffffff;
    font-size: 18px;
}